body{
   /*background: url(../img/background.jpg) no-repeat center center fixed;*/
   background-color: #ffffff;
   background-size: cover;
}

header{
  background-color: #000000;
  border: 1px solid #024959;
}

header p{
  color: white;
  text-align: right;
  font-size: 1.8vw;
  margin-right:10px;
  margin-top: 15px;
}

.logo-img img{
  width: 10%;
  margin-left: 1%;
  float: left;
}

.logo{
  width: 20%;
  margin-bottom: 5%;
  margin-top: -5%;
  margin-left: -7%;
}

.regresar{
  font-size: 1.7vw;
  margin-left: 1%;
  margin-top: 1%;
  color:white;
  float: left;
}

.borde{
	border: 3px solid #d7ba53;
}

header a:hover {
  color:#d7ba53;
}

.margen-bus{
	margin-top: 5%;
	margin-left: 8%;
}

.buscar{
	color: black;
	display: block;
	margin-left: 8%;
	margin-bottom: 4%;
}

.buscar h3{
	font-size: 1.8vw;
}

.buscarinput{
	float:left;
	margin-right: 20px; 
}

.taminput{
width: 250px;
}

.agregar{
	width:14%;
	height:7%;
	background:#000000;
	float: right;
	margin-right: 3%;
	margin-top: 3%;
	display: block;
	position: relative;
}

.agregar li a {
	color: #fff;
	text-decoration: none;
	text-align: center;
	font-size: 1.8vw;

}

.compras{
	width:13%;
	height:10%;
	background:#000000;
	float: right;
	margin-top: 3%;
	margin-right: 3%;
	display: block;
	position: relative;
}

.compras li a {
	color: #fff;
	text-decoration: none;
	text-align: center;
	font-size: 1.8vw;

}

.submenu{
	position: absolute;
	background: #333333;
	width:15%;
	display: none;
	width:100%;
}

.submenu li a{
	display: block;
	padding: 10px;
	color: #fff;
	text-decoration: none;
	border-bottom:1px solid rgba(255,255,255, .3);
	font-size: 1.5vw;
}

section ul li a:hover {
	background:#d7ba53;
}

.agregar li:hover .submenu{
	display: block;
}

.quit-p{
	list-style: none;
}

.main-section{
    width:75%;
    margin:0 auto;
    margin-top:1%;
    padding: 0;
}

.titulo{
    color: black;
    margin-top: 2%;
    margin-bottom: 10px;
    text-align: center;
    margin-left: 29%;
}

.tam{
	font-size: 3vw;
}

.fecha{
	margin-top: 10px;
	margin-left: 8%;
}

.filtros{
	margin-top: 10px;
	margin-left: 7%;
}

.fecha h3{
	color: black;
	font-size: 1.5vw;
	margin:30px 0;	
}

.filtros h3{
	color: black;
	font-size: 1.5vw;
	margin:30px 10px;
	float: left;	
}

.filtros h4{
	color: white;
	font-size: 1.2vw;
	margin:30px 10px;
}

.btn-filtrar{
    margin:0 auto;
    margin-top:5%;
    margin-bottom:5%;
    width: 100px;
    height: 35px;
    background:#000000;
}

.btn-tabla{
    margin-top:3%;
    margin-bottom:1%;
    margin-left: 10%;
    width: 150px;
    height: 35px;
    background:#000000;
}

.margen-btn-tabla{
	margin:0 15%;
}

header{
	width:100%;
}

header nav{
	width:100%;
	max-width:1250px;
	margin:20px auto;
	background:#024959;
}

.menu-bar{
	display:none;
}

.forgot{
    padding: 0;
    text-align: center;
    margin-top:5%;
}

.forgot h2{
    color: black;
     font-size:3vw;
    /*font-family: 'Press Start 2P', cursive;
    font-family: 'Monoton', cursive;*/
    font-family: 'Bad Script', cursive;
}

header nav ul{
	overflow:hidden;
	list-style:none;
}

header nav ul li{
	float:left;
}

header nav ul li a {
	color:#fff;
	padding:20px;
	display:block;
	text-decoration:none;
}

header nav ul li span {
	margin-left:10px;
}

header nav ul li a:hover {
	background:#037E8C;
}

section {
	padding:20px;
}

table{
	border-collapse: collapse;
	background-color: #ffffff;
    margin:0 auto;
    width: 85%;
    box-shadow: 0px 0px 45px #d7ba53;
}

td, th{
	padding: 5px 10px;
	color: black;
	border: 1px solid #d7ba53;
	box-shadow: 0px 0px 9px #d7ba53;
}

@media screen and (max-width:800px ){
	header nav {
		width:80%;
		height:100%;
		left:-100%;
		margin:0;
		position:fixed;
	}

	header nav ul li {
		display:block;
		float:none;
		border-bottom:1px solid rgba(255,255,255, .3);
	}

	.titulo-pag{
	margin-bottom:5px;
	}

	.tam{
	font-size: 4vw;
	}

	.agregar{
	width:20%;
	height:20%;
	}

	.agregar li a {
	font-size: 3vw;
	}

	.menu-bar {
		display:block;
		width:100%;
		background:#ccc;
	}

	 .menu-bar .bt-menu {
	 	display:block;
	 	padding:20px;
	 	background:#024959;
	 	color:#fff;
	 	text-decoration:none;
	 	font-weight:bold;
	 	font-size:25px;
	 	-webkit-box-sizing:border-box;
	 	-moz-box-sizing:border-box;
	 	box-sizing:border-box; 
	 }

	 .menu-bar span {
	 	float:right;
	 	font-size:30px;
	 }

	 .fecha h3, .filtros h3{
		font-size: 2.4vw;
		margin-bottom: 1px;
	 }

	.btn-filtrar{
   	margin:0 auto;
    width: 100px;
    height: 35px;
	}

	.filtros h4{
	color: black;
	font-size: 2.7vw;
	margin:20px auto;
	}

	.btn-tabla{
    width: 100px;
    height: 35px;
    background:#024959;
}

	.margen-btn-tabla h4{
   	font-size: 1.9vw;
	}

}

@media screen and (max-width:1080px ){
	 table{
	 	width: 100%;
	 	background: no-repeat;
	 	font-size: .9em;
	 }

	 table tr{
	 	display: flex;
	 	flex-direction: column;
	 	border: 1px solid black;
	 	padding: 1em;
	 	margin-bottom: 1em;
	 	background-color: #3b4652;
    	width: 80%;
    	margin:15px auto;
	 }

	 table td[data-titulo]{
	 	display: flex;
	 }

	 table td[data-titulo]::before{
	 	content: attr( data-titulo );
	 	width: 120px;
	 	color: black;
	 	font-weight: bold;
	 }

	 table td,
	 table th{
	 	border: none;
	 }

	 table thead{
	 	display: none;
	 }
}