body{
   background: url(../img/background.jpg) no-repeat center center fixed;
   background-size: cover;
}

header{
  background-color: #024959;
  border: 1px solid #024959;
}

.titulo{
    color: white;
    margin-bottom: 10px;
    text-align: center;
}

.contenedor{
    width:90%;
    margin:0 auto;
    overflow: hidden;
  margin:0 10%;
}

.main-section{
   width:22%;
   margin-right:12%;
   margin-left: 12%;
   margin-top:12%;
   margin-bottom: 7%;
   padding: 0px;
   float: left;
   box-sizing: border-box;
}

.modal-content{
    background-color: #3b4652;
    opacity: .85;
    padding: 0 10px;
    box-shadow: 0px 0px 3px #848484;
}

.vigilancia-img{
    margin-top: 10px;
    margin-bottom: 10px;
}

.vigilancia-img img{
    width: 100%;
    max-height:200px;
    max-width: 300px;
    box-shadow: 0px 0px 0px #848484;
    box-sizing: border-box;
}


.forgot{
    padding: 5px 0;
    text-align: center;
}


.forgot a{
    color: white;
    font-size:2.2vw;
    /*font-family: 'Press Start 2P', cursive;
    font-family: 'Monoton', cursive;*/
    font-family: 'Bad Script', cursive;
}

.forgot h2{
    color: white;
    font-size:3vw;
    /*font-family: 'Press Start 2P', cursive;
    font-family: 'Monoton', cursive;*/
    font-family: 'Bad Script', cursive;
}

@media screen and (max-width:800px ){

.main-section{
   width:40%;
   margin:12% 23%; 
   padding: 0px;
   display: flex;
   flex-direction: column;
}

.forgot{
    padding: 5px 0;
    text-align: center;
}


.forgot a{
    color: white;
    font-size:3.7vw;
    /*font-family: 'Press Start 2P', cursive;
    font-family: 'Monoton', cursive;*/
    font-family: 'Bad Script', cursive;
}

.forgot h2{
    color: white;
    font-size:5vw;
    /*font-family: 'Press Start 2P', cursive;
    font-family: 'Monoton', cursive;*/
    font-family: 'Bad Script', cursive;
}

header p{
  color: white;
  text-align: right;
  font-size: 2.5vw;
  margin-right:20px;
  margin-top: 15px;
}

  }

